.characterList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
   
}

.characterItem {
    width: 250px; 
    height: 350px; 
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    text-align: center;
    padding: 5 px; 
    margin: 25px;
}

.characterItem h2 {
    font-size: 22px;
    color: #333;
    padding: 10px;
    font-weight: 500px;
    margin: 0;
    flex-grow: 0;
    
}


.characterImage {
    width: 100%;
    height: 80%; 
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin: 0; 
}

.characterImage:hover {
    transform: scale(1.05);
}

.characterItem:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
    .characterItem {
        width: 200px; 
        height: 300px; 
    }
}

@media (max-width: 768px) {
    .characterItem {
        width: 150px; 
        height: 250px; 
    }
}

@media (max-width: 480px) {
    .characterItem {
        width: 100%; 
        height: auto; 
    }
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.pageButton {
    background-color: #e62429; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pageButton:hover {
    background-color: #d21d24; 
}

.pageButton.active {
    background-color: #c71c22; 
}